body {
  font-family: "Ubuntu", sans-serif;
  width: 70%;
  margin: 0 auto;
}
#logo {
  text-align: right;
  height: 25%;
}
#content {
  font-size: 1.5rem;
  margin: auto;
  height: 65%;
}
#cardFooter {
  color: #f1f1f1;
  text-align: right;
  height: 5%;
  margin: auto;
}
#name {
  text-align: right;
  font-size: 5rem;
  margin: 20px auto 0 auto;
}
#blackCard {
  width: 500px;
  height: 80vh;
  margin: 10vh auto;
  background-color: black;
  padding: 2%;
  color: #f1f1f1;
}
